In [3]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date,timedelta

### 1.1

In [4]:
stock_df = pd.read_csv("MARUTI.csv");
stock_df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MARUTI,EQ,15-May-2017,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01
1,MARUTI,EQ,16-May-2017,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97
2,MARUTI,EQ,17-May-2017,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37
3,MARUTI,EQ,18-May-2017,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44
4,MARUTI,EQ,19-May-2017,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49

In [5]:
stock_df.drop(stock_df[stock_df["Series"] != "EQ"].index,inplace = True)

In [6]:
stock_df["Series"].value_counts()

EQ    494
Name: Series, dtype: int64

### 1.2

In [7]:
price = "Close Price"

In [8]:
stock_df.tail(90)[price].max()

7492.9

In [9]:
stock_df.tail(90)[price].min()

6511.05

In [10]:
stock_df.tail(90)[price].mean()

7002.3499999999985

### 1.3

In [11]:
stock_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 495
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null object
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

In [12]:
stock_df["Date"] = stock_df["Date"].astype('datetime64[ns]')

In [13]:
max_date = stock_df["Date"].max()
min_date = stock_df["Date"].min()
max_date - min_date

Timedelta('728 days 00:00:00')

### 1.4

In [14]:
volume = "Total Traded Quantity"
avg_price = "Average Price"

In [15]:
stock_df["month"] = stock_df["Date"].dt.month
stock_df["year"] = stock_df["Date"].dt.year
stock_df["vwap"] = (stock_df[avg_price]*stock_df[volume]).cumsum()/stock_df[volume].cumsum()

In [16]:
temp = stock_df[['month','year','vwap']]
group = temp.groupby(['month','year'])
group.first()

                   vwap
month year
1     2018  7979.186671
      2019  8215.398491
2     2018  8195.696447
      2019  8109.359429
3     2018  8277.381302
      2019  8052.176442
4     2018  8325.867893
      2019  7974.266697
5     2017  6796.840000
      2018  8386.603337
      2019  7908.685449
6     2017  6960.104354
      2018  8407.439123
7     2017  7144.453344
      2018  8434.812392
8     2017  7289.709725
      2018  8513.112594
9     2017  7374.503822
      2018  8561.582159
10    2017  7492.609167
      2018  8518.204278
11    2017  7576.616623
      2018  8340.133221
12    2017  7677.533737
      2018  8263.665516

### 1.5

In [17]:
def get_avg_price(N):
    return (stock_df[avg_price].tail(N).sum())/N

def get_prof_loss(N):
    diff = (stock_df[price].tail(N).iloc[N-1] - stock_df[price].tail(N).iloc[0])
    pct =  (diff/stock_df[price].tail(N).iloc[N-1])*100
    return pct

In [18]:
print("Average prices for last N days: ")
print("Last 1 week",get_avg_price(7))
print("Last 2 weeks",get_avg_price(14))
print("Last 1 month",get_avg_price(30))
print("Last 3 months",get_avg_price(60))
print("Last 6 months",get_avg_price(180))
print("Last 1 year",get_avg_price(365))

Average prices for last N days:
Last 1 week 6672.562857142856
Last 2 weeks 6812.567857142857
Last 1 month 6942.477666666667
Last 3 months 6939.252166666666
Last 6 months 7377.399388888888
Last 1 year 8218.08895890411

In [19]:
print("Profit/Loss % for N days:")
print("Last 1 week",get_prof_loss(7))
print("Last 2 weeks",get_prof_loss(14))
print("Last 1 month",get_prof_loss(30))
print("Last 3 months",get_prof_loss(60))
print("Last 6 months",get_prof_loss(180))
print("Last 1 year",get_prof_loss(365))

Profit/Loss % for N days:
Last 1 week -2.5405921680993315
Last 2 weeks -11.881566380133716
Last 1 month 0.393505253104107
Last 3 months -9.690926456542497
Last 6 months -39.5621776504298
Last 1 year -27.577459407831906

### 1.6

In [20]:
stock_df['Day_Perc_Change'] = stock_df[price].pct_change().fillna(0)*100
stock_df['Day_Perc_Change'].head()

0    0.000000
1    1.905802
2    0.061116
3   -1.827340
4   -0.592881
Name: Day_Perc_Change, dtype: float64

### 1.7

In [21]:
def between(num,a,b):
    if a<=num<=b:
        return True
    return False
    
def fill_trend(x):
    if between(x,-0.5,0.5):
        return 'Slight or No change'
    if between(x,0.5,1):
        return 'Slight positive'
    if between(x,-1,-0.5):
        return 'Slight negative'
    if between(x,1,3):
        return 'Positive'
    if between(x,-3,-1):
        return 'Negative'
    if between(x,3,7):
        return 'Among top gainers'
    if between(x,-7,-3):
        return 'Among top losers'
    if x>7:
        return 'Bull run'
    if x<-7:
        return 'Bear drop'

stock_df['Trend'] = stock_df['Day_Perc_Change'].apply(fill_trend)

In [23]:
# stock_df[['Trend','Day_Perc_Change']]

### 1.8

In [24]:
stock_df.groupby('Trend')[volume].agg([np.average,np.median])

                          average     median
Trend
Among top gainers    1.258625e+06  1112945.0
Among top losers     1.299222e+06  1261317.0
Bear drop            3.062762e+06  3062762.0
Negative             7.172756e+05   637870.5
Positive             6.491532e+05   635222.0
Slight negative      5.407549e+05   481985.0
Slight or No change  4.780758e+05   407874.5
Slight positive      5.383773e+05   465479.0

### 1.9

In [25]:
stock_df.to_csv('week2.csv')